:root {
  /* --primary-color: rgba(29, 29, 29, 0.5); */
  --primary-color: rgba(29, 29, 29, 0.5);
  --overlay-color: rgba(29, 29, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: MaisonNeue, serif;
  line-height: 1.6;
  background-color: #F6F4F1;
}

.container {
  margin; auto;
  overflow: hidden;
  padding: 0 3vw;
}

.showcase {
  background-color: var(--primary-color);
  color: #F6F4F1;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('../img/rock.png') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
}

.showcase h1 {
  font-family: Eklektyk, serif;
  text-transform: uppercase;
  font-size: 26vw;
  text-align: center;
}

.showcase p {
  font-size: 1.4vw;
  max-width: 600px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 20px 30px;
  background-color: #F6F4F1;
  border: none;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
  text-decoration: none;
  color: #1D1D1D;
  max-width: 200px;
  transition: opacity 0.5s ease-in;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;

}
